.wrap {
  max-width: 680px;
  margin: 0 auto;
}
.header {
  height: 80px;
}

.header .header-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 80px;
  text-align: center;
}

.tab-area {
  display: flex;
  margin-bottom: 20px;
}
.tab-area .item {
 font-size: 2em;
 padding:  1em 2em ;
 color: #616161;
 cursor: pointer;
 
}
input[type="radio"] {
  display: none;  
}
.item:hover {
  color: #00c765;
}

.item:focus {
  color: #00c765;
  border-bottom: 2px solid #00c765;
}

.item:focus:active {
  color: #00c765;
  border-bottom: 2px solid #00c765;
}